<nav>
    <ul>
        <li><a routerLink="/">/</a></li>
        <li><a routerLink="/mfe1">/mfe1</a></li>
        <li><a routerLink="/mfe1/path1">/mfe1/path1</a></li>
        <li><a routerLink="/mfe1/path2">/mfe1/path2</a></li>
        <li><a routerLink="/mfe1/path3">/mfe1/path3</a></li>
        <li><a href="/mfe2">/mfe2</a></li>
        <li><a href="/mfe2/path1">/mfe2/path1</a></li>
        <li><a href="/mfe2/path2">/mfe2/path2</a></li>
        <li><a href="/mfe2/path3">/mfe2/path3</a></li>
    </ul>
</nav>
